# CONFIGURACIÓN DEL BOT DE TELEGRAM
TELEGRAM_TOKEN=tu_token_aqui
ADMIN_ID=tu_id_numerico_aqui
ADMIN_USERNAME=@TuUsuario
CANAL_URL=https://t.me/Ratssx
GRUPO_URL=https://t.me/+S3afbQ2tUqQwYWMx
CANAL_CHAT_ID=@Ratssx

# CONFIGURACIÓN DEL SERVIDOR
PORT=10000
